<section class="py-36">
  <div class="max-w-7xl mx-auto w-full">
    <div class="flex flex-col items-center gap-4">
      <figure>
        <picture>
          <img src="assets/images/logo/logo.svg" class="dark:invert h-11" />
        </picture>
      </figure>
      <h2 class="text-5xl">Contact out friendly team</h2>
      <p class="text-sm opacity-100">Let us know how we can help.</p>
    </div>

    <div class="grid grid-cols-4 gap-4 mt-16">
      <div
        class="rounded-2xl border border-stone-50 dark:border-stone-700 aspect-square shadow-md"
      ></div>
      <div
        class="rounded-2xl border border-stone-50 dark:border-stone-700 aspect-square shadow-md"
      ></div>
      <div
        class="rounded-2xl border border-stone-50 dark:border-stone-700 aspect-square shadow-md"
      ></div>
      <div
        class="rounded-2xl border border-stone-50 dark:border-stone-700 aspect-square shadow-md"
      ></div>
    </div>
  </div>
</section>
