<section
  class="bg-pink-500 h-screen flex items-center justify-center relative cheese-layer--bottom"
>
  <ciu-logo-full class="z-20 pointer-events-none"></ciu-logo-full>
  <!-- <div
    class="absolute inset-0 bg-[url('assets/images/pattern/pattern_cheese_holes.png')] bg-center bg-repeat opacity-60"
    style="background-size: 1000px;"
  ></div> -->
  <div id="cheeseHolesParticleJS" class="absolute inset-0">
    <ng-particles
      [id]="id"
      [url]="particlesUrl"
      [particlesInit]="particlesInit"
    ></ng-particles>
  </div>
  <div
    class="pointer-events-none bg-gradient-to-t from-[#fdc616] via-transparent z-10 inset-x-0 bottom-0 h-2/3 absolute opacity-30"
  ></div>
</section>

<div class="bg-[#fdc616] relative z-10">
  <div class="mx-auto max-w-7xl py-32">
    <div class="grid md:grid-cols-[40%,_auto] gap-20 px-4">
      <figure>
        <picture>
          <img
            class="aspect-square object-contain animate"
            src="assets/images/hero_images/cheese_slice.png"
          />
        </picture>
      </figure>
      <div class="text-stone-50">
        <h2 class="text-6xl uppercase font-bold">
          Ready for a <span class="text-pink-500">cheese</span> infusion?
        </h2>
        <p class="my-8 uppercase font-bold text-sm tracking-[0.2em]">
          Delivered to you by
        </p>
        <div class="grid grid-cols-3 gap-12 items-center">
          <a
            *ngFor="let delivery_service of deliverer()"
            class="delivery_service p-4 bg-stone-50 rounded-xl shadow-2xl aspect-square flex items-center"
            [href]="delivery_service.link"
            target="_blank"
          >
            <figure>
              <picture>
                <img
                  class="object-contain"
                  [src]="delivery_service.image"
                />
              </picture>
            </figure>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="h-[1200px] bg-cyan-500 relative cheese-layer--top cheese-layer--bottom"
>
  <ciu-section-how-it-works></ciu-section-how-it-works>
</div>
<!-- 
<div class="bg-stone-800 pb-[1200px] relative"></div> -->
<div class="h-96 bg-[#fdc616] relative"></div>
