<section class="min-h-screen py-20 flex items-center">
  <div class="mx-auto max-w-6xl w-full">
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-4">
      <div
        class="rounded-xl border-2 border-solid border-stone-200 bg-stone-200 mask mask-hexagon"
        *ngFor="let item of [0, 1, 2, 3, 4]"
      >
        <picture>
          <img
            src="assets/images/team/marlon.png"
            class="scale-110 translate-y-[1.1]"
            alt=""
          />
        </picture>
      </div>
    </div>
  </div>
</section>
