@font-face {
  font-family: 'Adobe Text Pro';
  src: url('./AdobeTextPro-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Adobe Text Pro';
  src: url('./AdobeTextPro-Semibold.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Adobe Text Pro';
  src: url('./AdobeTextPro-Bold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Adobe Text Pro';
  src: url('./AdobeTextPro-It.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Adobe Text Pro';
  src: url('./AdobeTextPro-SemiboldIt.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Adobe Text Pro';
  src: url('./AdobeTextPro-BoldIt.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
