<header
  class="h-16 sm:h-14 px-4 backdrop-blur backdrop-saturate-150 fixed inset-x-0 top-0 z-50 border-b border-b-stone-100 flex items-center"
>
  <nav class="max-w-7xl mx-auto w-full flex justify-between items-center">
    <div class="logo flex items-center gap-2">
      <figure>
        <picture>
          <img src="assets/images/logo/logo_slice.png" class="h-10" />
        </picture>
      </figure>
      <div class="flex flex-col font-righteous text-white">
        <p class="m-0 p-0 leading-none">Cheese</p>
        <p class="m-0 p-0 leading-none">it up</p>
      </div>
    </div>

    <div class="nav-items">nav-items</div>
  </nav>
</header>
