<div
  class="h-14 sm:h-16 transition-all duration-300 border-b-[1px] px-4 flex items-center fixed w-full top-0 z-50"
  [ngClass]="{
    '-translate-y-full': scrolledDown(),
    'border-stone-50 text-stone-50': !scrolled(),
    'border-stone-700 bg-white/90 backdrop-blur-[8px] sm:backdrop-blur-lg backdrop-saturate-[1.8] text-stone-950':
      scrolled()
  }"
>
  <div class="mx-auto max-w-7xl w-full flex items-center justify-between">
    <div class="flex items-center gap-2">
      <img
        src="assets/images/logo/bird.png"
        class="h-6 brightness"
        [ngClass]="{
          invert: !scrolled()
        }"
      />
      <p class="font-logo text-xl font-medium">Kanzlei Bartels</p>
    </div>
    <button class="block sm:hidden" (click)="openSidenav()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <jgh-navbar-rounded-overlay
      class="hidden sm:block"
      hightlightColor="#8E793E"
      fontColor="white"
      [routes]="routes()"
    ></jgh-navbar-rounded-overlay>
  </div>
</div>
