<section class="py-36" *ngIf="blogPost() as blogPost">
  <div class="max-w-4xl px-4 mx-auto flex flex-col gap-6">
    <h1 class="text-4xl">{{ blogPost.attributes.Titel }}</h1>
    <div class="flex justify-between items-center">
      <im-avatar-block
        [title]="
          blogPost.attributes.createdBy
            ? blogPost.attributes.createdBy.firstname +
              ' ' +
              blogPost.attributes.createdBy.lastname
            : 'Khatera Gross'
        "
        [subtitle]="
          (blogPost.attributes.publishedAt | date : 'shortDate') || ''
        "
      ></im-avatar-block>
      <div class="flex gap-4">
        <button mat-icon-button matTooltip="Teile diese Story">
          <mat-icon>ios_share</mat-icon>
        </button>
      </div>
    </div>
    <figure>
      <picture>
        <img
          [src]="
            blogPost.attributes.Vorschaubild.data.attributes.formats.large.url
          "
        />
      </picture>
    </figure>
    <div class="markdown-blog">
      <markdown [data]="blogPost.attributes.Inhalt"></markdown>
    </div>
  </div>
</section>
