// @font-face {
//   font-family: 'Thunder';
//   src: url('./AdobeTextPro-Regular.ttf') format('truetype');
//   font-weight: 400;
// }
@font-face {
  font-family: 'Thunder';
  src: url('./Thunder-BlackLC.ttf') format('truetype');
  font-weight: 900;
}

@font-face {
    font-family: 'Thunder';
    src: url('./Thunder-BoldLC.ttf') format('truetype');
    font-weight: 800;
  }

// @font-face {
//   font-family: 'Thunder';
//   src: url('./AdobeTextPro-Semibold.ttf') format('truetype');
//   font-weight: 500;
// }

// @font-face {
//   font-family: 'Thunder';
//   src: url('./AdobeTextPro-Bold.ttf') format('truetype');
//   font-weight: 600;
// }

// @font-face {
//   font-family: 'Thunder';
//   src: url('./AdobeTextPro-It.ttf') format('truetype');
//   font-weight: 400;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'Thunder';
//   src: url('./AdobeTextPro-SemiboldIt.ttf') format('truetype');
//   font-weight: 500; 
//   font-style: italic;
// }

// @font-face {
//   font-family: 'Thunder';
//   src: url('./AdobeTextPro-BoldIt.ttf') format('truetype');
//   font-weight: 600;
//   font-style: italic;
// }
