<main>
  <jgh-section-spline-canvas [splineURL]="splineURL" [render]="production()">
    <p class="uppercase font-bold text-xs xl:text-sm tracking-[0.2em]">
      Home staging
    </p>
    <h1
      class="text-5xl sm:text-6xl lg:text-7xl 2xl:text-8xl font-black inline-block pointer-events-auto w-max"
    >
      Chatera Gross
    </h1>
    <p class="xl:w-5/12 xl:text-lg font-Merriweather">
      Mit kreativen Rauminszenierungen und strategischer Platzierung von Möbeln
      und Accessoires verleihen wir Ihrem Zuhause eine unwiderstehliche
      Anziehungskraft, um potenzielle Käufer zu begeistern und den
      Verkaufsprozess zu optimieren.
    </p>
    <div class="flex flex-row gap-2 items-center">
      <im-button [icon]="phoneIcon" size="large" [cta]="true">
        Termin <span class="hidden sm:inline">vereinbaren</span>
      </im-button>
    </div>
  </jgh-section-spline-canvas>
  <im-section-stats></im-section-stats>

  <jgh-image-info-grid [infoBoxes]="infoBoxes()">
    <h2 class="text-5xl sm:text-6xl mb-36 max-w-2xl">
      In drei Schritten zur perfekten Immobilie
    </h2>
  </jgh-image-info-grid>

  <im-section-areas-of-work></im-section-areas-of-work>

  <jgh-section-split-image-content
    [reverse]="true"
    image="assets/images/landing/quotes/cecelia_ahern.jpg"
  >
    <jgh-blockquote [blockquote]="quotes()[0]"></jgh-blockquote>
  </jgh-section-split-image-content>
  <jgh-section-split-image-content
    image="assets/images/landing/quotes/barbara_corcoran.jpg"
  >
    <jgh-blockquote [blockquote]="quotes()[1]"></jgh-blockquote>
  </jgh-section-split-image-content>

  <im-section-recommendations></im-section-recommendations>

  <jgh-section-split-image-content
    image="https://byonoy.com/site/assets/files/1346/byonoy_headquarter-1625.jpg"
    id="analysis"
  >
    <im-list [list]="lists()[0]"></im-list>
  </jgh-section-split-image-content>

  <jgh-section-split-image-content
    id="decoration"
    image="https://byonoy.com/site/assets/files/1347/byonoy_headquarter-1885.jpg"
    [reverse]="true"
  >
    <im-list [list]="lists()[1]"></im-list>
  </jgh-section-split-image-content>

  <jgh-section-split-image-content
    id="presentation"
    image="https://byonoy.com/site/assets/files/1346/byonoy_headquarter-1625.jpg"
  >
    <im-list [list]="lists()[2]"></im-list>
  </jgh-section-split-image-content>
</main>
