<main>
  <im-section-marzipano>
    <figure>
      <picture>
        <img src="assets/images/logo/logo 4.svg" class="h-52" />
      </picture>
    </figure>

    <p class="uppercase font-bold text-xs xl:text-sm tracking-[0.2em] my-8">
      Professional Home staging
    </p>

    <div class="flex flex-row gap-2 items-center">
      <im-button
        [icon]="phoneIcon"
        size="large"
        [cta]="true"
        [routerLink]="['/', 'preview', 'contact']"
      >
        Termin vereinbaren
      </im-button>
    </div>
  </im-section-marzipano>

  <jgh-section-blog-preview></jgh-section-blog-preview>

  <im-section-stats></im-section-stats>

  <jgh-image-info-grid [infoBoxes]="infoBoxes()">
    <h2 class="text-5xl sm:text-6xl mb-36 max-w-2xl">
      In drei Schritten zur perfekten Immobilie
    </h2>
  </jgh-image-info-grid>

  <im-section-areas-of-work></im-section-areas-of-work>

  <ng-container *ngFor="let quote of blockquotes(); let index = index">
    <jgh-section-split-image-content
      [reverse]="index % 2 === 0"
      [image]="quote.image.data.attributes.formats.medium.url"
    >
      <jgh-blockquote [blockquote]="quote"></jgh-blockquote>
    </jgh-section-split-image-content>
  </ng-container>

  <!-- <jgh-section-split-image-content
    [reverse]="true"
    image="assets/images/landing/quotes/cecelia_ahern.jpg"
  >
    <jgh-blockquote [blockquote]="quotes()[0]"></jgh-blockquote>
  </jgh-section-split-image-content>
  <jgh-section-split-image-content
    image="assets/images/landing/quotes/barbara_corcoran.jpg"
  >
    <jgh-blockquote [blockquote]="quotes()[1]"></jgh-blockquote>
  </jgh-section-split-image-content> -->

  <jgh-section-projects-preview></jgh-section-projects-preview>

  <jgh-section-split-image-content
    image="https://res-console.cloudinary.com/khatera-gross/thumbnails/v1/image/upload/v1692449888/bGFyZ2Vfc29ubmllX2hpbGVzX0wwX0Jhb3doX0ZlNGNfdW5zcGxhc2hfMGQ3OTA5ZWEwYw==/drilldown"
    id="analysis"
  >
    <im-list [list]="lists()[0]"></im-list>
  </jgh-section-split-image-content>

  <jgh-section-split-image-content
    id="decoration"
    image="https://res-console.cloudinary.com/khatera-gross/thumbnails/v1/image/upload/v1692449889/bGFyZ2VfdWxpYW5hX2tvcGFueXRzaWFfRXhmMV9ONl9VVFpNX3Vuc3BsYXNoX2VmOWUyYTk2NTg=/drilldown"
    [reverse]="true"
  >
    <im-list [list]="lists()[1]"></im-list>
  </jgh-section-split-image-content>

  <jgh-section-split-image-content
    id="presentation"
    image="https://res-console.cloudinary.com/khatera-gross/thumbnails/v1/image/upload/v1692449890/bGFyZ2VfamFzb25fYnJpc2NvZV9BX1FsX0oxOW9jX1dFX3Vuc3BsYXNoX2UxMzY1ZTMzYjQ=/drilldown"
  >
    <im-list [list]="lists()[2]"></im-list>
  </jgh-section-split-image-content>
</main>
