<div class="px-4 pt-10 pb-0">
  <div class="mx-auto max-w-7xl flex justify-between items-center">
    <div class="flex gap-4">
      <fa-icon size="lg" [icon]="instagramIcon"></fa-icon>
      <fa-icon size="lg" [icon]="twitterIcon"></fa-icon>
    </div>
    <img routerLink="/" src="assets/images/logo/logo copy.svg" class="h-28 cursor-pointer" />
    <div class="flex gap-4">
      <fa-icon size="lg" [icon]="searchIcon"></fa-icon>
      <fa-icon size="lg" [icon]="shoppingBagIcon"></fa-icon>
    </div>
  </div>
</div>
<div class="px-4 flex justify-center py-8 white-underline">
  <nav mat-tab-nav-bar [tabPanel]="tabPanel">
    <a
      mat-tab-link
      *ngFor="let link of tabs()"
      routerLinkActive
      [routerLinkActiveOptions]="{ exact: link.exact }"
      [routerLink]="link.path"
      #rla="routerLinkActive"
      [active]="rla.isActive"
    >
      <span
        class="uppercase font-thin text-sm text-stone-700"
        style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"
      >
        {{ link.label }}
      </span>
    </a>
  </nav>
  <mat-tab-nav-panel #tabPanel> </mat-tab-nav-panel>
</div>
