<!-- Slider main container -->
<div #heroswiper class="swiper hero-swiper menu-hero-swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide bg-[#0f0504]">
      <picture class="relative w-full h-full block">
        <img
          class="absolute inset-0 w-full h-full object-cover sm:object-contain sm:object-left"
          src="assets/images/menu/breakfast-croissant.jpeg"
        />
      </picture>
    </div>
    <div class="swiper-slide bg-[#0f0504]">
      <picture class="relative w-full h-full block">
        <source
          type="image/avif"
          srcSet="assets/images/menu/background_1920.avif"
        />
        <source
          type="image/webp"
          srcSet="assets/images/menu/background_1920.webp"
        />
        <img
          class="absolute inset-0 w-full h-full object-cover sm:object-contain sm:object-left"
          src="assets/images/menu/background_1920.jpg"
        />
      </picture>
    </div>
    <div class="swiper-slide bg-[#0f0504]">
      <picture class="relative w-full h-full block">
        <source
          type="image/avif"
          srcSet="assets/images/menu/background-bowl_1920.avif"
        />

        <img
          class="absolute inset-0 w-full h-full object-cover sm:object-contain sm:object-left"
          src="assets/images/menu/background-bowl_1920.jpg"
        />
      </picture>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>
