.menu-hero-swiper {
  .swiper-pagination-bullet {
    background: #fff !important;
    opacity: 0.5;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      inset: -2px;
      width: calc(100% + 4px);
      height: calc(100% + 4px);
      border-radius: 50%;
      border: 1px solid #fff;
      transform: scale(0.7);
      opacity: 0;
      transition: all 0.15s ease-in-out;
    }
  }
  .swiper-pagination-bullet-active {
    opacity: 1;

    &::after {
      transform: scale(1);
      opacity: 1;
    }
  }
}
