li {
  counter-increment: mycounter 1;

  &::before {
    content: counter(mycounter) !important;
    display: inline-block;

    aspect-ratio: 1;

    padding: 0.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 1.25rem;

  }
}
