<div class="text-stone-50">
  <h2 class="text-7xl mb-16 px-6 font-black tracking-wider uppercase">
    So funktioniert <span class="text-cheese font-thunder">Cheese it up</span>
  </h2>

  <jgh-glas-border
    [options]="{ saturation: 'small', blur: 'small', padding: 'large' }"
  >
    <div class="rounded-xl bg-stone-50 px-10 py-16 shadow-xl text-stone-800">
      <jgh-lib-step-side-content-container
        stepTitle="Du hast die Wahl aus"
        gradientStart="#fdc616"
        gradientEnd="#ec4899"
        [icon]="iconShop()"
      >
        <div class="relative overflow-hidden">
          <!-- <div #swiper class="swiper aspect-video">
        <div class="swiper-wrapper">
          <div class="swiper-slide">Slide 1</div>
          <div class="swiper-slide">Slide 2</div>
          <div class="swiper-slide">Slide 3</div>
        </div>
        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <div class="swiper-scrollbar"></div>
      </div> -->
        </div>
      </jgh-lib-step-side-content-container>
      <jgh-lib-step-side-content-container
        stepTitle="Wir bereiten es für dich zu"
        gradientStart="#ec4899"
        gradientEnd="#fdc616"
        [icon]="iconPizza()"
      >
        <div class="relative overflow-hidden"></div>
      </jgh-lib-step-side-content-container>
    </div>
  </jgh-glas-border>
</div>
