<div class="flex flex-col">
  <figure class="animate">
    <picture>
      <img class="pop-in" style="animation-delay: 300ms" src="assets/images/logo/logo_text_cheese.png" />
    </picture>
  </figure>
  <div class="flex items-center justify-center -m-28">
    <figure class="animate" style="animation-delay: 150ms">
      <picture>
        <img class="pop-in" style="animation-delay: 500ms" src="assets/images/logo/logo_text_it.png" />
      </picture>
    </figure>
    <figure class="animate" style="animation-delay: 300ms">
      <picture>
        <img class="pop-in" style="animation-delay: 700ms" src="assets/images/logo/logo_text_up.png" />
      </picture>
    </figure>
  </div>
</div>
