<section #section class="py-20 sm:py-40 bg-stone-50">
  <div class="mx-auto max-w-5xl w-full grid sm:grid-cols-2 gap-8 items-center">
    <div class="flex flex-col gap-6 px-4 sm:px-0">
      <div
        class="flex flex-col sm:flex-row gap-x-1 items-center justify-center sm:justify-normal inter text-black text-5xl leading-tight"
        style="letter-spacing: -0.05em"
      >
        <span
          class="bg-clip-text bg-gradient-to-r from-[#007cf0] to-[#00dfd8] text-transparent brightness-0 transition"
          style="transition-duration: 1000ms"
          [ngClass]="{ 'brightness-0': activeHeadline() !== 0 }"
        >
          Select.
        </span>
        <span
          class="bg-clip-text bg-gradient-to-r from-[#ff4d4d] to-[#f9cb28] text-transparent transition"
          style="transition-duration: 1000ms"
          [ngClass]="{ 'brightness-0': activeHeadline() !== 1 }"
        >
          Order.
        </span>
        <span
          class="bg-clip-text bg-gradient-to-r from-[#7928ca] to-[#ff0080] text-transparent transition"
          style="transition-duration: 1000ms"
          [ngClass]="{ 'brightness-0': activeHeadline() !== 2 }"
        >
          Enjoy.
        </span>
      </div>
      <p class="text-stone-600 text-center sm:text-left text-lg">
        Das Stadtbistro im Herzen von Hamburg - der perfekte Ort, um sich mit
        köstlichen Speisen und Getränken verwöhnen zu lassen.<br />
      </p>
      <div
        class="flex flex-row items-center gap-2 text-stone-600 italic opacity-70 text-sm"
      >
        <fa-icon [icon]="infoIcon"></fa-icon>
        <span>Online Bestellungen demnächst möglich.</span>
      </div>
      <div class="flex flex-col gap-2">
        <!-- <div class="flex flex-row gap-4 items-center text-stone-600">
          <fa-icon [icon]="phoneIcon"></fa-icon>
          <a href="tel:+494060322330" class="font-bold">+49 40 603 22 33 - 0</a>
        </div> -->
        <div class="flex flex-row gap-4 items-center text-stone-600">
          <fa-icon [icon]="mailIcon"></fa-icon>
          <a
            class="font-bold hover:underline"
            href="mailto:info@stadtbistro.de"
          >
            info@stadtbistro.de
          </a>
        </div>
      </div>
    </div>
    <div class="flex flex-col justify-center items-center gap-4 px-4 sm:px-0">
      <iframe
        *ngIf="showMaps()"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2370.308114456266!2d9.983473676465364!3d53.55226705929616!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b18f1a0da81f35%3A0x93052dd164b7d678!2sGro%C3%9Fe%20Bleichen%2068%2C%2020354%20Hamburg!5e0!3m2!1sde!2sde!4v1686235300132!5m2!1sde!2sde"
        class="w-full aspect-video shadow-xl rounded-xl border border-solid border-stone-200"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</section>
